!hacs.json
!README.md
!.gitignore

/.storage
/.HA_VERSION
/deps
/tts
/configuration.yaml
/customize.yaml
/home-assistant*
/automations.yaml
/scripts.yaml
/scenes.yaml

/custom_components/**
!/custom_components/**/
!/custom_components/matjak_dashboard
!/custom_components/matjak_dashboard/*
!/custom_components/matjak_dashboard/**/*
/custom_components/matjak_dashboard/**/__pycache__
/matjak_dashboard/